.post {
    max-width: 600px;
    margin: auto;
    &-list {
        padding-left: 0;
        list-style: none;
        .date {
            font-weight: 400;
        }
    }
    &-title {
        @include font-size(24px);
    }
    &-body {
        margin: 40px 0;
    }
}

.blog-post {
    h1 {
        margin-bottom: 0;
        text-align: center;
    }


    .date {
        @extend h6;
        display: block;
        text-align: center;
    }

    .codepen {
        margin-bottom: 30px;
    }
}

.back-to-posts {
    @extend h6;
    color: $color-gray;
    &:before {
        content: '←';
        margin-right: 6px;
    }
    &:after {
        display: none;
    }
}

.share {
    margin-bottom: 20px;
    a:after {
        display: none;
    }
}

.comments {
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
    .post {
        &-list {
            padding-left: 0;
            list-style: none;
            .date {
                font-weight: 400;
                @include font-size(16px);
            }
        }
        &-title {
            @include font-size(24px);
        }
        &-body {
            margin: 40px 0;
        }
    }
}