.project {
    &-list {
        padding-left: 0;
        list-style: none;
        counter-reset: my-counter;
    }
    &-link {
        display: block;
        position: relative;
        padding: 20px 0;
        color: $color-title;
        &:before {
            position: absolute;
            right: 20px;
            @include font-size(11px);
            content: counter(my-counter);
            counter-increment: my-counter;
        }
        &:after {
            display: none;
        }
        &:hover {
            padding-left: 30px;
            color: $color-white;
            background-color: $color-black;
        }
    }
    &-title {
        margin-bottom: 0;
    }
    &-desc {
        color: $color-dark-gray;
    }
}