.page-wrapper {

}

.content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
}

@media screen and (max-height: 640px) {
    .content {
        height: 100%;
        padding-top: 20px;
    }

    .profile-image {
        width: 150px;
        float: none;
    }
    .site-message {
        @include font-size(24px);
        line-height: 1.4;
    }
}