.site {
    &-info {
        position: relative;
    }
    
    &-title {
        display: block;
        padding: 0;
        color: $color-red;
        font-weight: 700;
        &:after {
            display: none;
        }
    }

    &-desc {
        color: $color-dark-gray;
    }
}