a {
    padding: 0;
    color: $color-red;
    text-decoration: none;
    @include transition(all ease-in-out 200ms);
    &:hover {
        color: $color-dark-gray;
    }
}

.bd_touchevents {
    a {
        padding: 2px;
        &:after {
            display: none;
        }
    }
}