a {
    padding: 0;
    color: $color-black;
    text-decoration: none;
    @include transition(all ease-in-out 300ms);
    &:after {
        content: '';
        display: block;
        margin: auto;
        width: 100%;
        border-bottom: 1px solid $color-black;
        @include transition(all ease-in-out 300ms);
        text-align: center;
    }


    &:hover {
        color: $color-red;

        &:after {
            width: 0;
        }
    }

}

.bd_touchevents {
    a {
        padding: 2px;
        @include transition(none);
        &:after {
            display: none;
        }
    }
}