a {
    color: $color-red;
    text-decoration: none;
    @include transition(all ease-in-out 300ms);
    &:after {
        content: '';
        display: block;
        margin-top: -1px;
        border-bottom: 1px solid #000;
        @include transition(all ease-in-out 300ms);
        width: 0;
    }


    &:hover {
        color: $color-black;

        &:after {
            width: 100%;
        }
    }

}

.bd_touchevents {
    a {
        @include transition(none);
        &:after {
            display: none;
        }
    }
}