/* @author Berkan Dirim */

/** -------------------------------------------
    Font Icons
    ------------------------------------------- **/

@include font-icon(bd-icon, icons);

.icon-email:before {
    content: '\f003';
}

.icon-twitter:before {
    content: '\f099';
}

.icon-linkedin:before {
    content: '\f0e1';
}

.icon-github:before {
    content: '\f113';
}

.icon-codepen:before {
    content: '\f1cb';
}