/* @author Berkan Dirim */

/** -------------------------------------------
    Layout
    ------------------------------------------- **/

%row {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.page-wrapper {
    @extend %row;
    max-width: 800px;
    margin: 30px;
}

section {
    margin-bottom: 2em;
}