/* @author Berkan Dirim */

/** -------------------------------------------
    Main styles
    ------------------------------------------- **/

body {
    background-color: $color-white;
    color: $color-black;
}

.flat-list {
    list-style: none;
}

.project-list {
    li {
        &:before {
            content: '― ';
        }
    }
}

.project-name {
    font-weight: 700;
    color: $color-black;
    text-decoration: underline;
    &:hover {  
        color: $link-color;
    }
}

.contact {
    &-links {
        margin-left: -4px;
        a {
            padding: 4px;
            margin-right: 4px;
            @include font-size(20px);
            color: $color-gray;
            &:hover {
                color: $color-black;
            }
        }
    }
}