/* @author Berkan Dirim */

/** -------------------------------------------
    Main styles
    ------------------------------------------- **/

body {
    background-color: $color-white;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    color: $color-black;
}

.flat-list {
    list-style: none;
}

.project-list {
    p {
        margin-bottom: 1rem;
    }
}

.project-name {
    color: $color-black;
    text-decoration: underline;
    &:hover {  
        color: $link-color;
    }
}

.contact {
    &-links {
        margin-left: -4px;
        a {
            padding: 4px;
            margin-right: 4px;
            @include font-size(20px);
            color: $color-gray;
            &:hover {
                color: $color-black;
            }
        }
    }
}