/* @author Berkan Dirim */

/** -------------------------------------------
    Text styles
    ------------------------------------------- **/

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $sans-font;
    font-size: $text-size;
    line-height: $line-height;
    text-rendering: optimizeLegibility;
}

p {
    margin-bottom: 2em;
}

a {
    color: $link-color;
    text-decoration: none;
    @include transition(all ease-in-out 200ms);
    &:hover {
        color: $color-black;
    }
}

h1 {
    margin-bottom: .2em;
}

h2 {
    margin-bottom: 1em;
    @include font-size(12px);
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
}