/* @author Berkan Dirim */

/** -------------------------------------------
    Variables
    ------------------------------------------- **/

/* Colors */
$color-white: #fdfdfd;
$color-black: #333;
$color-gray: #aaa;
$link-color: tomato;

/* Sizes */
$base-gutter: 10px;

/* Font */
$text-size: 16px;
$large-text-size: $text-size * 1.5;
$line-height: 1.5;
$sans-font: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
