<p class="site-message">Hi! I'm interested in web technologies and especially <a href="http://en.wikipedia.org/wiki/Front_end_development" target="_blank">front end development</a>. I'm particularly interested in
    <a href="http://www.w3c.org" target="_blank">HTML5</a>, <a href="http://www.sass-lang.com" target="_blank">Sass</a>,
    <a href="http://www.jquery.com">jQuery</a> and <a href="http://www.angularjs.org" target="_blank">AngularJS</a>. I'm currently working at <a href="http://www.turkcell.com.tr" target="_blank">Turkcell</a> and living in Istanbul.</p>
<hr>