.site-message {
    @include font-size(48px);
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 20px 0 60px;
}

.profile-image {
    width: 250px;
    border-radius: 50%;
    border: 2px solid $color-black;
}

.contact {
    &-title {
        margin-bottom: 10px;
    }
    &-links {
        a {
            margin-right: 10px;
            @include font-size(24px);
            color: $color-gray;
            &:hover {
                color: $color-black;
            }
            &:after {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .site-message {
        @include font-size(36px);
    }
}

@media screen and (max-width: 400px) {
    .profile-image {
        width: 150px;
        float: none;
    }
    .site-message {
        @include font-size(24px);
        line-height: 1.4;
    }
}