<!DOCTYPE html>
<html lang="en">
{% include layout/_head.html %}
<body class="{% if page.path contains '_posts' %}blog-post{%else%}{{page.class}}{% endif %}">
    <div class="page-wrapper row">
        {% include layout/_header.html %}

        <section class="content eighteen-columns">
            {{content}}
        </section>

        {% include layout/_footer.html %}
    </div>

{% if page.path contains '_posts' %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-559e72d064021402" async="async"></script>
{% endif %}
</body>
</html>