<div class="contact eighteen-columns">
    <h6 class="contact-title">Contact me via</h6>
    <span class="contact-links">
        <a title="Twitter" class="icon-twitter" href="https://www.twitter.com/berkandirim" target="_blank"></a>
        <a title="LinkedIn" class="icon-linkedin" href="https://tr.linkedin.com/in/berkandirim" target="_blank"></a>
        <a title="GitHub" class="icon-github" href="https://www.github.com/berkandirim" target="_blank"></a>
        <a title="Codepen" class="icon-codepen" href="http://www.codepen.io/berkandirim/" target="_blank"></a>
        <a title="Email" class="icon-email" href="mailto:berkandirim@gmail.com"></a>
    </span>
</div>